<!-- <tr *ngFor="let post of filteredPosts">
  <td>{{post.id}}</td>
  <td>{{post.userId}}</td>
  <td>{{post.title}}</td>
  <td>{{post.body}}</td>
  <td></td>
</tr> -->


<div class="card" style="border: 4px;" *ngFor="let employee of employeeArray ; index as i" >
  <img src="assets/emp.jpg"  alt="John" style="width:50%;height:50%">
  <h1>{{employee.Name}}</h1>
  <p class="title"></p>
  <p>{{employee.Age}}</p>
  <p class="title"></p>
  <p>{{employee.City}}</p>
  <div style="margin: 24px 0;">
  </div>
  <p><button routerLink="/employeedetails" (click)="view(i)">Contact</button></p>
</div>
