<div >
    <div class="form">
      <form class="login-form">
        <input type="text" placeholder="username"/>
        <input type="password" placeholder="password"/>
        <input type="password" placeholder="confirmedPassword"/>
        <input type="text" placeholder="First Name"/>
        <input type="text" placeholder="Last Name"/>
        <input type="text" placeholder="Email"/>
        <input type="text" placeholder="Phone number"/>
        <button>sign-up</button>
        
      </form>
    </div>
  </div>